body{
    background-color: #AFC1B6;
    color: #101916;
    font-family: Arial, Helvetica, sans-serif;
    page-orientation: portrait;
}
nav{
    background-color: transparent;
    position: sticky;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 24px;
    font-style: italic;
    margin: auto;
}
.menuItems{
    padding-left: 0;
    padding-right: 0;
    align-content: space-evenly;
}
nav ul li a{
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-style: italic;
}
nav ul{
    text-decoration: none;
}
nav li{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    color: #E3E5D8;
    text-align:center;
    justify-content: center;
}
button{
    background-color: #355245;
    color: #E3E5D8;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    border: #355245;
}
h2{
    font-size: 20px;
    text-align: center;
}
h3{
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
h4{
    font-size: 16px;
    font-style: oblique;
    text-align: center;
}
p{
    text-align: center;
}
