/* Coolors Exported Palette - https://coolors.co/f7f3f4-302e2d-3d74b8-ff5666-97f9f9 */

/* CSS HEX */
--snow: #f7f3f4ff;
--jet: #302e2dff;
--celtic-blue: #3d74b8ff;
--bright-pink-crayola: #ff5666ff;
--ice-blue: #97f9f9ff;

/* CSS HSL */
--snow: hsla(345, 20%, 96%, 1);
--jet: hsla(20, 3%, 18%, 1);
--celtic-blue: hsla(213, 50%, 48%, 1);
--bright-pink-crayola: hsla(354, 100%, 67%, 1);
--ice-blue: hsla(180, 89%, 78%, 1);

/* SCSS HEX */
$snow: #f7f3f4ff;
$jet: #302e2dff;
$celtic-blue: #3d74b8ff;
$bright-pink-crayola: #ff5666ff;
$ice-blue: #97f9f9ff;

/* SCSS HSL */
$snow: hsla(345, 20%, 96%, 1);
$jet: hsla(20, 3%, 18%, 1);
$celtic-blue: hsla(213, 50%, 48%, 1);
$bright-pink-crayola: hsla(354, 100%, 67%, 1);
$ice-blue: hsla(180, 89%, 78%, 1);

/* SCSS RGB */
$snow: rgba(247, 243, 244, 1);
$jet: rgba(48, 46, 45, 1);
$celtic-blue: rgba(61, 116, 184, 1);
$bright-pink-crayola: rgba(255, 86, 102, 1);
$ice-blue: rgba(151, 249, 249, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f7f3f4ff, #302e2dff, #3d74b8ff, #ff5666ff, #97f9f9ff);
$gradient-right: linear-gradient(90deg, #f7f3f4ff, #302e2dff, #3d74b8ff, #ff5666ff, #97f9f9ff);
$gradient-bottom: linear-gradient(180deg, #f7f3f4ff, #302e2dff, #3d74b8ff, #ff5666ff, #97f9f9ff);
$gradient-left: linear-gradient(270deg, #f7f3f4ff, #302e2dff, #3d74b8ff, #ff5666ff, #97f9f9ff);
$gradient-top-right: linear-gradient(45deg, #f7f3f4ff, #302e2dff, #3d74b8ff, #ff5666ff, #97f9f9ff);
$gradient-bottom-right: linear-gradient(135deg, #f7f3f4ff, #302e2dff, #3d74b8ff, #ff5666ff, #97f9f9ff);
$gradient-top-left: linear-gradient(225deg, #f7f3f4ff, #302e2dff, #3d74b8ff, #ff5666ff, #97f9f9ff);
$gradient-bottom-left: linear-gradient(315deg, #f7f3f4ff, #302e2dff, #3d74b8ff, #ff5666ff, #97f9f9ff);
$gradient-radial: radial-gradient(#f7f3f4ff, #302e2dff, #3d74b8ff, #ff5666ff, #97f9f9ff);