/* General Styles */
body {
    background-color: #020202ff;
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    page-orientation: portrait;
}
h1, h2, h3, h4, h5 {
    color: #ffffff;
    text-align: center;
}
a {
    text-decoration: none;
    color: #ffffff;
}
/* Navigation Styles */
nav {
    background-color: transparent;
    position: sticky;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
    border: 2px solid #ffffff;
    border-radius: 8px;
}
.navItems {
    padding-top: 15px;
}
.navItems a {
    padding: 10px;
    margin: 0 10px;
    transition: color 0.3s ease;
}
.navItems a:hover {
    color: #00bfff;
}
.social {
    padding-top: 5px;
}
.social a {
    padding: 10px;
    margin: 0 10px;
    color: #ffffff;
    font-size: 20px;
    transition: color 0.3s ease;
}
.social a:hover {
    color: #00bfff;
}
/* Heading Styles */
h1 {
    font-size: 24px;
    font-style: italic;
    margin: auto;
}
h3 {
    font-size: 24px;
    font-style: italic;
}
/* Button Styles */
button {
    background-color: #00bfff;
    color: #ffffff;
    border-radius: 8px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #ffffff;
    color: #00bfff;
}
/* Profile Frame Styles */
.profile-frame {
    position: relative;
    overflow: hidden;
    justify-content: center;
}
.profile-content {
    background: url('../imgs/profile.jpeg') center center no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 75px 50px 100px;
    text-align: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    background-position: 50% 30%;
    height: calc(100vh + 25px);
    position: relative;
}
/* Center the content */
.profile-content h1,
.profile-content h2,
.profile-content button {
    margin: 0;
}
#show-more-button {
    margin-top: 20px;
}
/* Updated .hidden-content Styles */
.hidden-content {
    display: none;
    background-color: rgba(18, 18, 18, 0.75);
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 100px;
    left: 0%;
    right: 0%;
    transform: translateX(-90%);
    z-index: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: calc(100vh - 120px);
}
/* Show More Animation */
.show-more-animation {
    animation: showMoreAnimation 1s forwards;
    display: block !important;
}
@keyframes showMoreAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Social Icons Styles */
.social ul li {
    font-size: 24px;
    margin-right: 10px;
    color: #00bfff;
}
/* Link Styles */
a {
    text-decoration: none;
    color: #ffffff;
}
/* Version Styles */
.version h5 {
    justify-content: right;
    font-style: italic;
    text-align: right;
    color: #dddddd;
}
/* Contacts Section Styles */
#contacts {
    text-align: center;
    padding: 15px;
}
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-group {
    margin: 10px;
}
/* Portfolio Section Styles */
#portfolio {
    text-align: center;
    padding: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
/* Picture Carousel Styles */
/* Picture Carousel Styles */
.slideshow {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}
.pictures {
    display: flex;
    width: 300%; /* Three times the width of one picture to accommodate sliding effect */
    transition: transform 0.5s ease;
}
.picture {
    width: 100%;
    flex: 0 0 100%; /* Set each picture to take up 100% of the container */
}
.picture img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
}
.description {
    max-width: 800px;
    text-align: left;
    color: #ffffff;
}
h3, h4, h5 {
    font-size: 20px;
    color: #ffffff;
}