/* Footer.css */
.App-footer {
  background-color: #000; /* Black background for the footer */
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  margin: 0 auto;
  padding: 20px;
  max-width: 960px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-media-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.social-media-list li {
  display: inline-block;
  margin: 0 15px;
}

.social-media-list li a {
  color: white; /* White color for icons */
  transition: color 0.2s ease-in-out;
}

.social-media-list li a:hover {
  color: #800020; /* Deep burgundy for hover effects */
  text-decoration: none; /* No underline to keep it clean and modern */
}

#version-control {
  text-align: right;
  color: #AAA; /* Lighter grey for subtlety */
  width: 100%;
  font-size: 0.8em;
  margin-top: 20px; /* Add some space above the version control text */
}

@media (max-width: 768px) {
  .footer-content, #version-control {
    text-align: center;
    padding: 10px;
  }

  #version-control {
    margin-top: 10px; /* Adjust space on smaller screens */
  }
}
