/* Footer.css */

/* General styling for the footer */
.App-footer {
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 0;
}

/* Container for footer content */
.footer-content {
  margin: 0 auto;
  padding: 20px;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Styling for the footer links */
#footer {
  color: #FFFFFF;
}

/* Version control text styling */
#version-control {
  text-align: right;
  color: #AAA;
  width: 100%;
  font-size: 0.8em;
  margin-top: 20px;
}

/* Media query for smaller devices */
@media (max-width: 768px) {
  /* Center align footer content and adjust padding */
  .footer-content {
    justify-content: center;
    padding: 10px;
  }

  /* Center align version control text */
  #version-control {
    text-align: center;
    margin-top: 10px;
  }

  /* Center align social media icons */
  .social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  /* Adjust size of social media icons for smaller screens */
  .social-media-icons img {
    width: 30px; /* Adjust as needed */
    height: auto;
    margin: 0 5px; /* Add spacing between icons */
  }
}
