/* Set the background color */
body {
  font-family: "adlery-pro", sans-serif;
  color: #ffffff;
  background-color: #010101;
}

h1 {
  display: flex;
  font-family: "adlery-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 48pt; /* Use "font-size" instead of "size" */
  align-items: center;
  justify-content: center;
  margin: 0%;
}

h2 {
  display: flex;
  font-family: "adlery-pro-swash", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 24pt; /* Use "font-size" instead of "size" */
  align-items: center;
  justify-content: center;
  margin: 0%;
}

h3 {
  font-family: "adlery-pro-swash", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 18pt; /* Use "font-size" instead of "size" */
  align-items: center;
  justify-content: center;
  margin: 0%;
}

p {
  font-family: "adlery-pro-blockletter", sans-serif;
  font-weight: 20;
  font-style: italic;
  font-size: 16pt; /* Use "font-size" instead of "size" */
  color: white;
  align-items: center;
  justify-content: center;
  margin: 0%;
}

button {
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #010101;
  border: none;
  font-family: "adlery-pro-blockletter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}

/* Define the initial state of the header */
header {
  opacity: 0;
  transform: translateY(-20px);
  text-align: center;
}
/* Animate the header when it becomes visible */
header.visible {
  animation: fadeInUp 1s, slideDown 1s forwards;
  }
  @keyframes fadeInUp {
    from {opacity: 0;}
    to   {opacity: 1;}
    }
    @keyframes slideDown {
      from {transform: translateY(+20px)};
      to   {transform: translateY(0)};
      }

.siteTitle h1 {
  font-size: 24px;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transform: translateY(-20px);
}

/* Apply fadeIn animation to header */
header {
  animation: fadeIn 1s ease-in-out forwards;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInWithDelay 1s ease-in-out 0.1s forwards;
  flex-direction: row;
}

.navbar button {
  margin: 0 5px;
}

/* Dropdown initially hidden */
.dropdown-content {
  display: none;
}

/* Add transition for dropdown animation */
.dropdown:hover .dropdown-content {
  display: block;
  animation: fadeInDropdown 0.3s ease-in-out;
  color: #ffffff;
  a{
    color: #ffffff;
    background-color: #333;
  }
}

/* Keyframes for animations */
@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInWithDelay {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInDropdown {
  0% {
      opacity: 0;
      transform: translateY(-10px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Add these CSS rules for section layout */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 1.25rem;
}

.sectionContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.profileImage {
  flex: 1;
  max-width: 50%;
  margin-right: 1.25rem;
}

.profileImage img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.textContent {
  flex: 1;
  margin-left: 0.625rem;
  
}
/* Styling for .social to center its content */
.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}

:root {
  --icon-color: #ffffff;
}

/* Styling for social icons */
.icons {
  display: flex;
  align-items: center;
}

.icons i {
  font-size: 1.5rem;
  color: var(--icon-color);
  margin-right: 0.625rem;
}

/* Styling for the text next to social icons */
.icons span {
  font-family: "adlery-pro-blockletter", sans-serif;
  font-weight: 20;
  font-style: italic;
  font-size: 16px;
  color: #ffffff;
  text-align: left;
  margin: 0;
}

/* Styling for .values */
.values {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
}

/* Styling for individual icon and text containers */
.values .box {
  width: 45%;
  text-align: center;
}

/* Styling for the icons themselves (Bootstrap Icons used) */
.values .box i {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Styling for the text under the icons */
.values .box p {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}

/* 
  This code snippet styles a section with a background and an icon with text in the center.
  It utilizes flexbox for layout and applies styling to the icon and text.
*/

.background {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh; /* Utilize all available space vertically */
}

.icon {
  text-align: center;
  margin: 0 20px; /* Add spacing between the icon and text */
}

/* Styling for the icons themselves (Bootstrap Icons used) */
.icon i {
  font-size: 50px;
  color: #ffffff; /* Change color to your preference */
}

/* Styling for the text */
.icon p {
  font-size: 20px;
  color: #ffffff; /* Change color to your preference */
  text-align: center;
}


/* Project styles */
.project {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin-bottom: 3rem;
}

.project-images {
  position: relative;
  margin-bottom: 1.5rem;

  img {
    width: 100%;
    height: auto;
  }
}

.project-additionalImages {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.project-description {
  text-align: center;
}

/* Add media queries for responsive layout */
@media screen and (max-width: 768px) {
  .project {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .project-images {
    margin-bottom: 1rem;
  }

  .project-additionalImages {
    width: 100%;
  }
}


:root {
  --background-color: #010101;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --transition-duration: 0.3s;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 3rem;
}

.service-card {
  text-align: center;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  transition: background-color var(--transition-duration) ease, box-shadow var(--transition-duration) ease;
  flex-basis: 33.33%;
}

table {
  width: 100%;
  margin: 0 auto;
}

.note {
  text-align: center;
  font-size: 0.9rem;
  size: 12px;
  color: #777;
  margin-top: 20px;
}

.note a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: #ffffff;
  size: 12px;
}

/* Remove bulletpoints from <ul> */
.service-card ul {
  list-style-type: none;
}

/* Style <li> elements within <ul> */
.service-card ul li {
  margin: 5px 0;
  color: #ffffff;
}
