/* Profile Frame Styles */
.profile-frame {
    position: relative;
    overflow: hidden;
    justify-content: center;
}
.profile-content {
    background: url('../imgs/profile.jpeg') center center no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 75px 50px 100px;
    text-align: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    background-position: 50% 30%;
    height: calc(100vh + 25px);
    position: relative;
    transition: background-color 0.3s ease;
}
/* Center the content */
.profile-content h1,
.profile-content h2,
.profile-content button {
    margin: 0;
}
#show-more-button {
    margin-top: 20px;
}
/* Updated .hidden-content Styles */
.hidden-content {
    display: none;
    background-color: rgba(18, 18, 18, 0.75);
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 100px;
    left: 0%;
    right: 0%;
    transform: translateX(-90%);
    z-index: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: calc(100vh - 120px);
    transition: background-color 0.3s ease;
}
/* Show More Animation */
.show-more-animation {
    animation: showMoreAnimation 1s forwards;
    display: block !important;
}
@keyframes showMoreAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*New styles */
.about {
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    margin: 0 10px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 8px;
    font-family: monospace, 'Roboto Mono', 'Courier New', Courier;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover, button.active {
    background-color: #ffffff;
    color: #000000;
}

/* Biography Styles */
.biography {
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
    color: #fff;
    border: 1px solid #ddd;
    transition: border 0.3s ease, background-color 0.3s ease;
}

.biography:hover {
    border: 2px solid #ddd;
    background-color: rgba(240, 240, 240, 0.1);
}

.biography h1 {
    font-size: 20px;
    margin-bottom: 5px;
}

.biography p {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.biography:hover p {
    opacity: 1;
}

/* Skills List Styles */
.category-box {
    background-color: transparent;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    transition: border 0.3s ease, background-color 0.3s ease;
}

.category-box:hover {
    border: 2px solid #ddd;
    background-color: rgba(240, 240, 240, 0.1);
}

.category-box h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.category-box p {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.category-box:hover p {
    opacity: 1;
}