/* Social Icons Styles */
.social ul li {
    font-size: 24px;
    margin-right: 10px;
    color: #ffffff;
    transition: color 0.3s ease;
}
/* Link Styles */
a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

/* Contacts Section Styles */
#contacts,
#portfolio {
    text-align: center;
    padding: 15px;
}
.contact-container,
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Contact Styles */
.contacts {
    text-align: center;
    padding: 20px;
}

.address-card {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    max-width: 300px;
    margin: 16px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.address-card h2 {
    margin: 0 0 8px;
    font-size: 1.5em;
}

.address-card p {
    margin: 4px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.social-icons a {
    color: #333;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #fff;
    background-color: transparent;

}
