@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

.logo img {
    max-height: 50px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    font-family: 'Monospace', sans-serif;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-menu a:hover {
    text-decoration: underline;
    color: #fff;
}

.social-icons {
    display: flex;
    gap: 20px;
    color: #333;
    background-color: transparent;
}

.social-icons :hover{
    display: flex;
    gap: 20px;
    color: #fff;
    background-color: transparent;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content p {
    margin: 0;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-nav li {
    margin: 0 10px;
}

.footer-nav a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.footer-nav a:hover {
    text-decoration: underline;
    color: #fff;
    background-color: transparent;
}